.rate-bar{
	flex: 1 1 300px; /*  Stretching: */
    flex: 0 1 300px; /*  No stretching: */
    margin: 5px;
    border: 1px solid #fff;
  box-shadow: 0 0 0.5rem 0 rgba(245, 229, 27, 1);
  padding: 8px;
  background: #fff;
}
.star-holder{
	display: flex;
	width: 50%;
	margin-left: 25%;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #f1f1f1;
  color: dodgerblue;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}